h1 {
    color:; #6D4C41;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3em;
    text-align: center;
    background-color: #F5B7B1;
    background-image: url();
}
.heading {
    margin: 80px;
}
.flower {
    
}
