h1 {
    color: white;
}

h2 {
    color: white;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5em;
    text-align: center;
    background-color: #F5B7B1;
    background-image: url(camomile_PNG666.png);
    background-repeat: no-repeat;
    background-position: center;
}
.heading {
    margin-top: 40px;
}
.education {
  background:rgba(255,255,255,0.5);
}

.boxes {
    display: in-line block;
    width:200px;
    margin-right:30px;
    text-align:right;
    padding: 50px;
}
