p {
  color red!
  }
body { 
    background-image: url('green.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 1800px 2000px;
    background-radius: 5px 20px 5px;
}

div.background {
  box-sizing: border box;
  width: 400px;
  height: 400px;
}
